<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Aceptamos cualquier tipo de moneda!</p>
                    <h1>Francisco Roques</h1>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Hacemos envíos a todo el mundo</h2>
                    <p>Cualquier producto en nuestra página tiene envío sin cargo a donde sea</p>
                    <h1>Tomas Zippilli</h1>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! En Turbo Drive, no hay nada que no puedas hacer, porque estás
                        siempre protegido.</p>
                        <h1>Lautaro Pineda</h1>
                </article>
            </div>
        </div>
    </div>
</footer>